/* Diseño planetas */

.venus {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

img {
    width: 350px;
    height: 350px;
}

.venus {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url(planetas/venus.jpg);
    background-size: cover;
    -webkit-animation: planeta-girando 50s infinite linear;
}

@-webkit-keyframes planeta-girando {
    from {
        background-position: left center;
    }
    to {
        background-position: -792px center;
    }
}